/* --------------------------------- CONFIG HEADER MENU --------------------------------- */

.header-top {
    padding-top: 0px;
    padding-bottom: 0px;
    color: #000;
}

.header-user-btn {
  padding-top: 15px;
  padding-right: 10px;
}

.col-header-right {

  padding-right:0;
}

.header-search-btn {
  padding-top: 15px;
  padding-right: 10px;
}

#header .header-btn-w {
    padding: 0px;
}
.add-to-cart {
  font-weight: bold;
}

#wrapper .breadcrumb {
  margin-bottom: 0;
}

#desktop-header:not(.stuck-header) #header-search-btn {
  display: none;
}

#desktop-header-search-bar {
  background: #fc0f47;
  padding: 10px 0;
}

#desktop-header-search-bar input[type=text] {
  box-shadow: none;
  border: 6px solid var(--secondary);
  padding: .5rem 1rem;
  z-index: 0;
}

#desktop-header-search-bar button {
  background: var(--secondary);
  font-size: 24px;
  padding: 0 15px;
}

#desktop-header-search-bar form {
  display: flex;
  justify-content: center;
}

#desktop-header-search-bar .input-group {
  max-width: 500px;
}

#desktop-header-search-bar .autocomplete-suggestions {
  max-width: 500px;
  max-height: 400px;
}

.ps-shoppingcart .cart-container {
    width: 65px;
    height: 80px;
    padding: 5px;
    background: #fce40f;
    position: relative;
    padding-top: 10px;
}

.fa-user:before{
  color: black;
}

@media (max-width: 992px) {
  #desktop-header-search-bar  {
    display: none;
  }
  .fa-user:before{
    color: white;
  }
}

/* --------------------------------- CONFIG MENU  --------------------------------- */

.cbp-horizontal .cbp-tab-title {
  text-align: center;
  font-weight: 800;
}


.cbp-horizontal > ul > li > a, .cbp-horizontal > ul > li > a:not([href]):not([tabindex]), .cbp-horizontal > ul > li > .cbp-main-link{

  margin-left: 50px;
  height: 80px;
  padding-top: 25px;
}

.cbp-hrmenu .cbp-column-title .cbp-legend.cbp-legend-inner{
  display: none;
}

/*Img megamenu*/

.cbp-menu-column-inner img {
  border:4px solid #a8a8a8;
  border-radius:8px;
  width:125px;
  margin-bottom: 10px;
}

.cbp-menu-column-inner img:hover {
  border:4px solid #fce40f;
  border-radius:8px;
}


.cbp-hrmenu .cbp-hrsub-inner .cbp-column-title, .cbp-hrmenu .cbp-hrsub-inner a.cbp-column-title:link{
    width:125px;
    height: 30px;
  font-size: 1em;
  text-transform:none;
  letter-spacing:0;
  text-align: center;
}

.cbp-hrmenu .cbp-products-big *{

}

@media (max-width: 1410px) {
.cbp-horizontal > ul > li > a, .cbp-horizontal > ul > li > a:not([href]):not([tabindex]), .cbp-horizontal > ul > li > .cbp-main-link{

  margin-left: 20px;
}
}
@media (max-width: 1225px) {
.cbp-horizontal > ul > li > a, .cbp-horizontal > ul > li > a:not([href]):not([tabindex]), .cbp-horizontal > ul > li > .cbp-main-link{

  font-size: 8px;
  margin-left: 0px;
  padding-left:0px;
}
.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto, .col-xs-12{
  padding-left:0;

}

.col-header-left{
  width: 180px;
}

#desktop_logo{
  width: 100%;
  padding-left: 10px;
}
}
/* --------------------------------- CONFIG PRODUIT  --------------------------------- */




/* --------------------------------- CONFIG PANIER  --------------------------------- */


 .ps-shoppingcart .cart-products-count-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  padding: 0;
  width: 25px;
  height: 25px;
  margin-top: 15px;
  margin-right: 10px;
}

.quotation {
  width: 65px;
  padding: 15px;
  padding-bottom: 5px;
  border: none;
  cursor: pointer;
  background: #01164a;
  color: white;
  font-size: 10px;
  text-align: center;

}
.btn-devis-panier{
  background-color: #01164a; margin-bottom:20px; color: white;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
}

/* ---------------------------------  Custom Footer Liens --------------------------------- */


#linkfooter-container{
  display: flex;
  align-items: center;
  justify-content: center;

}

.link-footer{
  max-width: auto;
  height: 4em;
  padding-top: 20px;
  padding-bottom: 20px;

}




/* ---------------------------------  Custom Footer informations --------------------------------- */
 #footer-container{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content:space-around;
   min-height: 300px;
   color:white;

 }

 @media (max-width: 992px) {
   #footer-container  {
     flex-direction: column;
     padding-top: 20px;
   }
    .blockinfo {
        margin-bottom: 40px;
        width: auto;
      }

    .link-footer{
      display: none;
    }

    #traitfooter{
      display: none;
    }

    #traitfooter{
      display: none;
    }
 }


 #traitfooter{
   color: grey;
 }

 .block-content ul{
   display: flex;
 }

 .block-content ul li {
   padding-left: 3em;
 }


.txtfooter{
  color:#949494;
}

.titlefooter{
  font-weight: 800;
  font-size: 2em;
  line-height: 1.5em;
}
.titlefooter-small{
  font-weight: 600;
  font-size: 2em;
  line-height: 1em;
}

.titlefooter-big{
  font-weight: 600;
  font-size: 2.8em;
  line-height: 1.5em;
  color: #fc0f47;
}

.flexinfo{
    display: flex;
    flex-direction: row;
}




#footer-paiement{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer-paiement-space{
  padding-left: 1em;
  color: #949494;
}

#footermarque{
  text-align: center;
  color: grey;
  font-size: 0.8em;
  font-weight:bolder;
  margin-top: 2em;
  padding-bottom: 2em;
}

 #footermarque #footermarque-color{
  color: #fc0f47
}


.block-footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.footer-menu{
  padding-left: 3em;
}



@media (max-width: 800px) {
  #footer-paiement{
  flex-wrap: wrap;
  }
  }





/* --------------------------------- Custom Checkout --------------------------------- */


body#checkout section.checkout-step.-current {
    box-shadow: 2px 0px 11px 0px #dbdbdb;
    background-color: white;
}

.card {
    background: none;
    border: 1px solid hsla(0,0%,63%,.25);
    box-shadow: 2px 0px 11px 0px #dbdbdb;
    background-color: white;
}

.btn-group-lg>.btn, .btn-lg {
    border-radius: 0;
    padding: 1rem 1.5rem;
    font-size: inherit;
    font-weight: bold;
}

.col-form-label {
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
    font-weight: bold;
}

body#checkout section.checkout-step.-current .step-title {
    border-bottom: 1px solid hsla(0,0%,63%,.25);
    margin-bottom: 1rem;
    margin-left: -1.4rem;
    margin-right: -1.4rem;
    padding: 0 1.4rem 1.4rem;
    color: #ff154d;
}

.col-form-label {
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
    font-weight: bold;
}

.cart-container {

  background-color: white;
  padding: 0 5% 0 5%;

}


.btn-stock {

    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0;
    background: #25cf4b;
    color: #fff;
}

.btn-stockout {

    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0;
    background: red;
    color: #fff;
}



.cart_ref {

  font-weight: 700;
  font-size: 70%;
}


a.differentadress:link:not(.nav-link):not(.btn),
a.differentadress:visited:not(.nav-link):not(.btn) {
    display: inline-block;
    padding:  1rem 1rem;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0;
    background: #2900ff;;
    color: #fff;
    transition: 250ms background;
}

a.differentadress:hover:not(.nav-link):not(.btn) {
  background: #777;
}

body#checkout section.checkout-step .payment-options .payment-option{
    background: aliceblue;
    height:3em;
    padding-top:0.8em;
    padding-left: 1em;
}


/* --------------------------------- Custom Acccount --------------------------------- */


.my-account-page-content-wrapper {
    border: 1px solid hsla(0,0%,63%,.25);
    padding: 1rem;
    margin: 0 auto;
    background-color: white;
    box-shadow: 2px 0px 11px 0px #dbdbdb;
}


/* Megamenu */

.cbp-hrmenu .cbp-hrsub-inner > .row:last-child, .cbp-hrmenu .cbp-hrsub-inner .iqitmegamenu-submenu-container > .row:last-child{
padding-left: 60px;
padding-right: 60px;
}



/* --------------------------------- Search full screen --------------------------------- */

.search-widget .search-btn{
  z-index: 0;
}

#desktop-header-search-bar {
    z-index: 1;
}

#header-search-btn .fullscreen-search #fullscreen-search-backdrop {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: blueviolet;
    opacity: 10%;
}
#contain-mandat{
  display: flex;
  margin-bottom: 10px;
}

.mandat {
  color:#000;
  font-size:90%;
  font-weight: 400;
  padding-left: 10px;
  line-height: normal;
  vertical-align: middle;

}

/* --------------------------------- Avis verifies --------------------------------- */

#avis-verifies  {
  float: right;
}

@media (max-width: 1400px) {
  #avis-verifies  {
    display: none;
  }

}
